    <footer>
      {% comment %} <h2>Squads</h2>
      <ul>
        {% for squad in squads %}
          <li>Squad {{ squad.name }}</li>
        {% endfor %}
      </ul> {% endcomment %}
    </footer>
    <script src="/js/flip.js"></script>
  </body>
</html>